<header>
  <app-navbar></app-navbar>
</header>

<app-main-title></app-main-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://i.stack.imgur.com/y9DpT.jpg"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card cardTitle="Orianna" photoCover="https://i.stack.imgur.com/y9DpT.jpg"></app-small-card>
    <app-small-card cardTitle="Orianna" photoCover="https://i.stack.imgur.com/y9DpT.jpg"></app-small-card>
    <app-small-card cardTitle="Orianna" photoCover="https://i.stack.imgur.com/y9DpT.jpg"></app-small-card>
  </div>
</div>

